header {
  text-align: center;
  padding: 1rem 0;
}

.header_container {
  margin: 0 auto;
  width: 25%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  border: var(--border-grey);
  padding: 1rem;
  justify-items: center;
  background-color: lavender;
}

.header_container span {
  width: 90%;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-transform: capitalize;
  font-weight: bold;
  border: var(--border-grey);
  cursor: default;
  user-select: none;
}

.header_red {
  color: var(--color-red-dark);
  background-color: var(--color-red-light);
}

.header_blue {
  color: var(--color-blue-dark);
  background-color: var(--color-blue-light);
}

.header_green {
  color: var(--color-green-dark);
  background-color: var(--color-green-light);
}
