.gamesquare {
  user-select: none;
  font-size: 2rem;
  border: var(--border-grey);
  width: var(--game-square-size);
  height: var(--game-square-size);
  text-align: center;
  line-height: var(--game-square-size);
  text-transform: capitalize;
  font-weight: bold;
}

.gamesquare_check_win {
  animation: checkWin 1.5s ease both;
}

.input__not_in_word {
  --animation-bg-color: var(--color-red-light);
  --animation-font-color: var(--color-red-dark);
  color: var(--animation-font-color);
  animation: checkWin 1.5s ease both;
}

.input__in_correct_place {
  --animation-font-color: var(--color-green-dark);
  --animation-bg-color: var(--color-green-light);
  color: var(--animation-font-color);
  animation: checkWin 1.5s ease both;
}

.input__in_word {
  --animation-font-color: var(--color-blue-dark);
  --animation-bg-color: var(--color-blue-light);
  animation: checkWin 1.5s ease both;
  color: var(--animation-font-color);
}

.input__init {
  --animation-font-color: black;
  color: var(--animation-font-color);
}

@keyframes checkWin {
  0% {
    color: black;
    background-color: initial;
  }

  50% {
    color: gold;
    background-color: gold;
  }

  100% {
    color: var(--animation-font-color);
    background-color: var(--animation-bg-color);
  }
}
