.game_status_modal {
  background-color: var(--color-red-light);
  width: 40%;
  height: max-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid var(--color-red-dark);
}

.game_status_modal_animation {
  animation: showModal 2s cubic-bezier(1, 0.03, 1, -0.06);
}

.game_status_modal_no_animation {
  animation: none;
}

.game_status_modal p {
  color: var(--color-red-dark);
  font-size: 1.5rem;
  text-align: center;
}

.game_status_modal button {
  display: block;
  background-color: var(--color-green-light);
  color: var(--color-green-dark);
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid var(--color-green-dark);
  margin: 5rem auto;
}
.game_status_modal button:hover {
  border: 2px solid var(--color-blue-dark);
  color: var(--color-blue-dark);
  background-color: var(--color-blue-light);
}

.modal_winning_word {
  text-transform: uppercase;
}

@keyframes showModal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
